.exhibit-detail {
  position: relative;
  margin-top: 30px;

  // &:before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: -30px;
  //   width: 100%;
  //   height: 12px;
  //   border-top: 4px solid $red;
  //   background: $yellow;
  //   border-bottom: 4px solid $blue;
  // }

  .level.infos {
    position: absolute;
    top: -180px;
    width: 100%;
    z-index: 22;
    margin: 30px 0 20px;
    i {
      color: $blue;
      margin-right: 1.5rem;
    }
  }
  .content-image {
    margin-bottom: 1rem;
    figure {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .content-text {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .content-gallery {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    img {
      display: inline;
      max-width: 49%;
    }
  }

  @media screen and (max-width: 1024px) {
    .level.infos {
      top: -45px;
      z-index: 3;
      font-size: 1rem;
      .level-item {
        margin-bottom: 2px;
        justify-content: start;
        margin-left: 20px;
      }
    }
    .content-image {
      margin-bottom: 1rem;
    }
    .content-text {
      font-size: 1rem;
      letter-spacing: 1px;
      border-left: none;
      border-right: none;
    }  
  }
}
