.exhibit-detail {
  position: relative;
  margin-top: 30px;

  .level.infos {
    i {
      color: $blue;
      margin-right: 1.5rem;
    }
  }
  .content-image {
    margin-bottom: 1rem;
    figure {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .content-text {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .content-gallery {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    img {
      display: inline;
      max-width: 49%;
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: 10px;

    .level.infos {
      font-size: 1rem;
      .level-item {
        margin-bottom: 2px;
        justify-content: start;
        margin-left: 20px;
      }
    }
    .content-image {
      margin-bottom: 1rem;
    }
    .content-text {
      font-size: 1rem;
      letter-spacing: 1px;
    }
  }
}
