.hero {
  background-size: cover;
  position: relative;
  z-index: 10;

  &.home-hero {
    background-image: url('../images/hero.jpg');
    background-attachment: fixed;
    background-position: center 120%;
  }
  &.exhibit-header {
    background-position: center;
  }
  p.title {
    position: absolute;
    font-size: 6rem;
    bottom: 4%;
    right: 5%;
    filter: brightness(.8) opacity(.75);
  }

  #navMenu {
    h1 {
      position: relative;
      top: 5px;
    }
  }
}

.level.fancy-spacer {
  position: relative;
  background-image: url("../images/spacer_1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  margin: 100px 0;


  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -100px;
    width: 100%;
    height: 12px;
    border-top: 4px solid $red;
    background: $yellow;
    border-bottom: 4px solid $blue;
  }
}
