.hero {
  background-size: cover;
  position: relative;
  z-index: 10;

  &.home-hero {
    background-image: url('../images/hero.jpg');
    background-attachment: fixed;
    background-position: center 120%;
  }
  &.exhibit-header {
    background-position: center;
  }
  p.title {
    position: absolute;
    font-size: 6rem;
    bottom: 4%;
    right: 5%;
    span {
      filter: brightness(.8) opacity(.75);
      text-shadow: 3px 3px 2px $dark;
    }
    .has-text-flashy {
      color: $warning;
      @include keyframes(color-change) {
        0% { color: $yellow;filter: brightness(.8) opacity(.75); }
        50% { color: $dark-yellow;filter: brightness(1) opacity(1); }
        100% { color: $yellow;filter: brightness(.8) opacity(.75); }
      }
      @include animation('color-change 3s infinite');
    }
  }

  nav {
    h1 {
      position: relative;
      top: 5px;
    }
  }

  @media screen and (max-width: 1024px) {
    &.home-hero {
      height: 500px;
      min-height: 75vh;
    }

    &.home-hero {
      background-position: top;
    }

    p.title {
      font-size: 2rem;
      bottom: 35%;
    }

    &:not(.home-hero) {
      nav {
        h1.title.is-1 {
          position: relative;
          top: 2px;
          font-size: 1.2rem;
        }
      }
    }
  }
}
