$red: #DF3926;
$dark-red: darken($red, 15%);
$darker-red: darken($red, 30%);
$orange: #EF6625;
$dark-orange: darken($orange, 15%);
$blue: #46A8CD;
$dark-blue: darken($blue, 15%);
$purple: #512863;
$dark-purple: darken($purple, 15%);
$yellow: #E5B852;
$dark-yellow: darken($yellow, 15%);

$light: #e8c692;
$lighter: #f5e5ce;
$dark: #301206;
$beige: lighten($dark, 7%);

$family-primary: 'Neuton', serif;
$family-headings: 'Lobster', serif;

$primary: $red;
$link: $purple;
$info: $blue;
$success: $orange;
$warning: $yellow;

$body-background-color: $dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$card-background-color: transparent;
$box-background-color: $beige;
$box-radius: 0;
$box-shadow: none;

$title-color: $red;
$text: $lighter;
$body-font-size: 20px;

$navbar-item-hover-background-color: transparent;

$title-family: $family-headings;
